{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title%} Add Task {% endblock %}

{% block nav %} 

{% if current_user.is_authenticated %}
  <h2 style="position: absolute;">{{ current_user.name }}'s TASK MANAGER</h2>

  <a href="{{url_for('logout')}}" style="margin-left: 1280px;">
    <button type="button" class="btn btn-danger">Logout</button>
  </a>

{% else %}
  <h2>MY TASK MANAGER</h2>
{% endif %}

{% endblock %}

{% block content %}

<div class="container-lg">
    <form action="{{url_for('addtask')}}" method="post" style="margin-top: 3%;">
        {{ wtf.quick_form(form3) }}
    </form>
</div>

<a href="{{url_for('tasks', name=current_user.name)}}">
  <button style="border-radius: 100%; background-color: #ECCA9C; color: chocolate; border-color: white; margin-left: 50%; margin-bottom: 17%;">EXIT</button>
</a>

{% endblock %}