{% extends "base.html" %}

{% import "Bootstrap/wtf.html" as wtf %}

{% block title%} SignUp Page {% endblock %}

{% block nav %} 

{% if current_user.is_authenticated %}
  <h2 style="position: absolute;">{{ current_user.name }}'s TASK MANAGER</h2>

  <a href="{{url_for('logout')}}" class="head_area">
    <button type="button" class="btn btn-danger">Logout</button>
  </a>

{% else %}
  <h2>MY TASK MANAGER</h2>
{% endif %}

{% endblock %}

{% block content %}

<form method="post" style="padding-top: 90px; padding-bottom: 85px; padding-left: 500px; padding-right: 400px;">
    <h1>TASK MANAGER SIGN UP PAGE</h1>
    {{ wtf.quick_form(form1) }}
</form>

{% endblock %}